// Controls.module.scss
.filterSearchContainer {
  width: 100%;
  display: flex;
  align-items: center;
  // padding: 8px; // Added padding for better spacing
  gap: 0.42rem; // Increased gap for better spacing between elements
  // flex-grow: 1;
}

.filterSearch {
  z-index: 5;
  background-color: transparent; // Transparent background for a lighter feel
  border-radius: 12px; // Slightly increased border radius for softer edges
  outline: none;
  // width: 10%;
  // width: 1%;  // 
  width: 100%;
  flex-grow: 1;

  // width: 100%;
  // min-width: 6rem;

  border: none;
  padding: 8px 12px; // Added padding for better touch targets and aesthetics
  transition: border-color 0.3s, box-shadow 0.3s; // Smooth transitions for interactive feedback

  &:focus {
    background-color: rgba(var(--secondary-rgb), 0.3);
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6); // Placeholder text color for better readability
  }

  &:hover {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2); // Subtle box shadow on hover for visual depth
  }
}

.filterSearchIcon {
  
  border-radius: 12px;
  // border: 2px solid rgba(255, 255, 255, 0.6);
}

.icon {
  cursor: pointer;
  transition: transform 0.3s; // Smooth transformation for interactive icons

  &:hover {
    transform: scale(1.1); // Slight scale increase on hover for feedback
  }
}

.filter 
{
  // width: 42%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  // width: 1%;
  width: 90%;
}

.filterEntities {
  // flex-grow: 1;
  // padding: 0 0.2rem;
  transition: width 0.42s ease-in-out;
  // height: 3rem;

  // width: 1%;
  // min-width: 3rem;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  &.empty {
    transition: width 0.42s ease-in-out;
    width: 0%;
  }

  
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

}