.popup {
  position: fixed;
  top: 6.66rem;
  right: 1rem;
  bottom: 2.22rem;
  left: 1rem;
  z-index: 2;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(var(--dark-rgb), 0.8);
  backdrop-filter: blur(10px);
  border-radius: 2.1rem;
  padding: 1rem;
  overflow: hidden;

  transition: all 0.42s ease-in-out;

  &.show {
    opacity: 1;
  }

  &.hide {
    opacity: 0;
    // display: none;
    z-index: -1;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  .contentContainer {
    // warp text
    white-space: pre-wrap;
    flex-direction: column;
    gap: 1rem;
    
    .detailsContainer {
      height: max-content;
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      .titleInput {
        font-size: var(--heading-font-size);
        border: none;
        border-radius: 5px;
        background-color: rgba(var(--secondary-rgb), 0.1);
        color: rgb(var(--light-rgb));
        padding: 0;
        font-weight: bold;
        margin: 0.3rem 0;
        box-shadow: none;
        height: 2rem;
        font-family: var(--font-family);
        white-space: nowrap;
        text-align: left;
        cursor: pointer;
        background: rgba(var(--dark-rgb), 0.2);
        transition: background-color 0.3s ease;

        &:hover {
          background-color: rgba(var(--light-rgb), 0.2);
        }

        &.selected {
          background-color: rgb(var(--secondary-rgb));
        }
      }

      .dateContainer {
        display: flex;
        justify-content: left;
        gap: 1rem;

        .date {
          font-style: italic;
        }
      }

      .graphContainer {
        flex: 1;
        padding-top: 1rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
        overflow: hidden;
        height: 70%;
      }

      .markdownContentContainer {
        flex: 1;
        overflow-y: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .metadataChangeInformation {
          margin-top: auto;
          padding-bottom: 0.42rem;

          .metadataContainer {
            display: flex;
            align-items: center;
            gap: 1rem;
          }
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .popup {
    top: 6rem;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
    padding-bottom: 2rem;
  }
  
}