// .content {
//   display: flex;
//   min-height: 100vh;
//   /* Ensures viewport height */
//   flex-direction: column;
//   padding-top: 10rem;
// }

.main {
  width: 100vw;
  max-height: calc(100vh - var(--header-height));
  overflow: hidden;
  // overflow: scroll;
}

// Animations

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    left: 0;
  }

  to {
    opacity: 0;
    left: -1rem;
  }
}

.tooltip.changing {
  opacity: 0;
  left: 1rem;
  animation: fadeInLeft 0.3s ease-in-out forwards;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    left: 1rem;
  }

  to {
    opacity: 1;
    left: 0;
  }
}