.menu {
  display: flex;
  position: absolute;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 3rem;
  transition: right 0.3s ease, width 0.3s ease;
  right: -42vw;
  top: 3rem;
  overflow: hidden;
  z-index: 100 !important;
  width: 0;
  backdrop-filter: blur(10px); /* Apply the glass effect */
  background-color: rgba(var(--dark-rgb), 0.2); /* Slightly transparent background */
}

.menu.show {
  width: 142%;
  right: 0rem;
  transition: right 0.3s ease, width 0.3s ease;
}

.menuItem {
  display: flex;
  justify-content: right;
  align-items: right;
  position: relative;
  width: 100%;
  min-height: 1rem;
  z-index: 1;
  transition: transform 0.3s ease;
  
}

.menuItem:hover {
  background-color: rgba(var(--light-rgb), 0.1);
  border-bottom-right-radius: 0.66rem;
  border-top-right-radius: 0.66rem;
  color: rgb(var(--secondary-rgb));
  transform: translateX(-1rem);

  &:active {
    background-color: rgba(var(--light-rgb), 0.2);
  }

}

@media (max-width: 768px) {
  .menu {
    top:  3rem;
    backdrop-filter: none;
    background-color: rgba(var(--dark-rgb), 0.8);
  }  
}