.calendar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.calendarItem {
    opacity: 0; // Hide elements initially
    transition: opacity 0.2s ease-in-out; // Smooth transition for opacity change

    &.reveal {
        opacity: 1; // Fully visible
    }
}

.dateInfo {
    margin-bottom: 0.5rem;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}