.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-image: linear-gradient(115deg, rgb(var(--light-rgb)), rgb(0, 0, 0)),
                    radial-gradient(90% 300% at calc(42% + var(--cursor-x)) calc(0% + var(--cursor-y)), rgb(var(--light-rgb)), rgb(var(--dark-rgb))),
                    radial-gradient(100% 100% at calc(80% + var(--cursor-x)) calc(0% + var(--cursor-y)), rgb(250, 255, 0), rgb(119, 89, 89)),
                    radial-gradient(142% 212% at calc(100% + var(--cursor-x)) calc(0% + var(--cursor-y)), rgb(20, 175, 125), rgb(var(--tertiary-rgb))),
                    radial-gradient(100% 100% at calc(300% + var(--cursor-x)) calc(42% + var(--cursor-y)), rgb(var(--secondary-rgb)), rgb(var(--tertiary-rgb))),
                    linear-gradient(192deg, rgb(var(--secondary-rgb)), rgb(120, 86, 255));
  background-blend-mode: overlay, overlay, difference, difference, difference, normal;

  &.fadeIn {
    opacity: 1;
  }
}

.disabled {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.2); // Default disabled text color
  font-size: 24px;
  z-index: 0;
  transition: color 0.3s ease;

  &:hover {
    color: rgba(255, 255, 255, 0.4); // Hover state for disabled text
  }
}
