.link {
  font-size: var(--font-size);
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.2s;
  background-color: rgba(var(--dark-rgb), 0.1);
  border: 1px solid rgba(var(--light-rgb), 0);
  padding: 3px 3px 0;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  text-align: left;

  &:focus {
    outline: none;
  }

  svg {
    position: relative;
    vertical-align: left;
    transform: scale(1.2);
    margin: 0.4rem;
  }

  &.iconAnimated {
    svg {
      animation: spin 0.5s linear infinite;
    }
  }

  &.externalLink {
    color: var(--primary-rgb);
    border-color: var(--primary-rgb);
  }

  &.quadratic {
    width: 2rem !important;
    height: 2rem !important;
    padding: 0rem;
    margin: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.inline {
    display: inline; /* Make the link display inline */
  }

  &.noWrap {
    white-space: nowrap; /* Prevent wrapping */
  }

  .linkText {
    margin-left: 0.5rem;
    padding-right: 0.5rem;
    display: block;
    align-items: flex-start;
  }

  &:hover {
    background-color: rgba(var(--secondary-rgb), 0.42);
  }

  // &:click
  &:active {
    background-color: rgba(var(--secondary-rgb), 0.84);
  }

}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
