.link {
  font-size: var(--font-size);
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.2s, transform 0.3s ease;
  background-color: rgba(var(--dark-rgb), 0.1);
  border: 1px solid rgba(var(--light-rgb), 0);
  padding: 3px 3px 0;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  text-align: left;

  &:focus {
    outline: none;
  }

  svg {
    position: relative;
    vertical-align: left;
    transform: scale(1.2);
    margin: 0.4rem;


  }

  &:hover {
    svg {
      animation: spin 0.42s ease-in-out forwards;
    }
  }


  &.externalLink {
    border: 1px solid rgba(var(--primary-rgb), 0.2);
    background-color: rgba(var(--primary-rgb), 0.1);
  }

  &.quadratic {
    width: 2rem !important;
    height: 2rem !important;
    padding: 0rem;
    margin: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      svg {
        animation: none;
      }
    }

  }

  &.inline {
    display: inline;
  }

  &.noWrap {
    white-space: nowrap;
  }

  .linkText {
    margin-left: 0.5rem;
    padding-right: 0.5rem;
    display: block;
    align-items: flex-start;
  }

  &:hover {
    color: rgb(var(--secondary-rgb));
    background-color: rgba(var(--secondary-rgb), 0.42);
  }

  &:active {
    background-color: rgba(var(--secondary-rgb), 0.84);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  42% {
    transform: rotate(42deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


@media (max-width: 768px) {
  .link {
    // font-size: 1.6rem;
  }
}