.link {
  // gap: 0.5rem;
  font-size: var(--font-size);
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.2s;
  background-color: rgba(var(--dark-rgb), 0.1);
  border: 1px solid rgba(var(--light-rgb), 0);
  padding: 3px 3px 0;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  text-align: left; /* Ensure text aligns left within the container */

  &:focus {
    outline: none;
  }

  svg {
    position: relative;
    vertical-align: left;
    // padding: 0.1rem;
    // scale the icon
    transform: scale(1.2);
    margin: 0.4rem;
  }

  &.iconAnimated {
    svg {
      animation: spin 0.5s linear infinite;
    }
  }

  &.externalLink {
    color: var(--primary-rgb); /* Add your external link color here */
    border-color: var(--primary-rgb); /* Optionally change the border color */
  }

  &.quadratic {
    width: 2rem !important;
    height: 2rem !important;
    padding: 0rem;
    margin: 0rem;

    // center 
    display: flex;
    justify-content: center;
    // padding-right: 0.3rem;
    align-items: center;

  }

  .linkText {
    margin-left: 0.5rem;
    display: block; /* Ensure each line of the address is on a new line */
    align-items: flex-start; /* Align lines to the left within the container */
  }

  &:hover {
    background-color: rgba(var(--secondary-rgb), 0.2);
  }

}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
