.workContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  padding-top: 42vh;
  position: relative; /* Ensure the container is positioned relative */
}

.workContainer p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
}

@media (max-width: 768px) {
  .workContainer {
    flex-direction: column;
    padding-top: 30vh;
    padding-bottom: 30vh;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}