.header {
  position: fixed;
  display: flex;
  align-items: left;
  background: rgba(var(--dark-rgb), 0.5);
  width: 100%;
  margin-top: 0;
  // justify-content: space-between;
  z-index: 100;
  height: 3rem;
  transition: height 0.3s ease; /* Transition for header height change */
}

.logo {
  // margin: 0 auto; /* Center the logo horizontally */
  padding-right: 0.42rem;
  padding-left: 0.42rem;
  padding-top: 0.1rem;
}

.name {
  transition: opacity 0.3s ease, width 0.3s ease, padding-right 0.3s ease;
  width: 0%;
  opacity: 0;
  justify-self: left;
  
  padding-right: 0rem;
}

.controls {
  align-items: center;
  // overflow: hidden; /* Allow controls to scroll horizontally on mobile */
  max-width: 69%; /* Take up full width initially */
  display: flex; /* Ensure controls are always displayed */
  // padding: 0.5rem; /* Add padding for spacing */
  padding-right: 0.5rem;
  // white-space: nowrap;
  width: 80%; /* Take up full width initially */
  // max-width: 80vw;
  justify-content: space-between;
  // height: 100%;
  transition: max-width 0.3s ease;
}

.controls > * {
  margin-right: 0.5rem; /* Adjust margin between control elements */
}

@media (min-width: 769px) {
  .header {
    padding: 0 0.96rem; /* Restore padding for larger screens */
  }

  .name {
    padding-right: 1.5rem;
    display: flex; /* Display title on larger screens */
    justify-content: center; /* Center align title horizontally */
    opacity: 1; /* Ensure title is visible */
    width: 20%;
    min-width: fit-content;
  }
}

