/* NeuralNetwork.module.css */

.networkContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  // opacity: 0;
  transition: opacity 1s ease-in-out;
  background-blend-mode: overlay, overlay, difference, difference, difference, normal;

  background-color: #0000;
}
