.workContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  // padding-top: 42vh; // Original top padding
  position: relative; // Ensure the container is positioned relative
  background-color: rgba(var(--secondary-rgb), 0.3); // Using CSS variable for secondary color
  height: 100%;
  animation: dropDown 1s ease-out forwards; /* Apply the animation */
  
  h1 {
    font-size: 2rem; // Slightly larger for emphasis
    // margin-bottom: 1rem; // Adds space below the heading
  }
  
  p {
    font-size: 1.2rem; // Slightly smaller for balance
    font-weight: 300;
    line-height: 1.5; // Enhanced line height for readability
    text-align: center; // Center-aligned text
    margin-top: 0.5rem; // Adds space above each paragraph
  }
}

@media (max-width: 768px) {
.workContainer {
    flex-direction: column; // Stack items vertically on smaller screens
    padding-top: 30vh; // Adjusted top padding for smaller screens
    padding-bottom: 30vh; // Adjusted bottom padding for smaller screens
    padding-left: 1rem; // Consistent left padding
    padding-right: 1rem; // Consistent right padding
  }
}

@keyframes dropDown {
  from {
    opacity: 0; /* Optional: Start with reduced opacity */
  }
  to {
    transform: translateY(0);
    opacity: 1; /* Optional: End with full opacity */
  }
}
