.workContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  position: relative;
  background: linear-gradient(to bottom, rgba(var(--secondary-rgb), 0.42), rgba(var(--secondary-rgb), 0.9));
  height: auto;
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
  height: 70%;
  animation: dropDown 1s ease-in-out;

  transition: height 0.3s ease-in-out;
}

.workContainer h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-rgb);
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.workContainer p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: #fff;
}

.workContainer span {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media (max-width: 768px) {
  .workContainer {
    padding: 2rem;
    height: 80%;
  }
}
